body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #navbaar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: white;
  
    #navbarSupportedContent {
      .navbar-nav {
        .nav-item {
          .nav-link.nav-link:hover {
            color: blue;
          }
        }
  
        button {
          height: 40px;
          width: 100px;
          border-radius: 5px;
          border: 2px blue solid;
          color: blue;
          background-color: white;
  
        }
  
        button:hover {
          background-color: blue;
          color: white;
        }
      }
    }
  
    #button {
      color: white;
      height: 40px;
      width: 140px;
      background-color: #e12645;
      border-radius: 5px;
      border: none;
    }
  }
  
  #homie {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url("https://assets-v2.scaler.com/assets/academy/svg/banner-background-34136d3a9ddff172e6bae6e3d8283c452231dcda2196b055bfa2e34e222754b7.svg");
    height: 800px;
    width: 100%;
    gap: 250px;
    position: relative;
  
    #me {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      gap: 20px;
      margin-top: -250px;
  
      #p1 {
        font-size: 30px;
        font-weight: bold;
        width: 400px;
        color: white;
      }
  
      #p2 {
        font-size: 20px;
        color: white;
  
        b {
          font-size: 30px;
        }
      }
  
      #button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
  
        #b1 {
          height: 50px;
          width: 200px;
          color: white;
          background-color: #e12645;
          border-radius: 5px;
          border: none;
        }
  
        #b2 {
          height: 50px;
          width: 200px;
          color: blue;
          border-radius: 5px;
          border: none;
        }
      }
  
      #p3 {
        font-size: 18px;
        color: white;
  
        b {
          color: rgb(241, 182, 21);
        }
      }
    }
  
    #me2 {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      border: 2px white solid;
      padding: 30px;
      border-radius: 10px;
      background-color: white;
      margin-top: -190px;
      gap: 30px;
      height: 480px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
      #p1 {
        font-size: 30px;
  
        b {
          color: #e12645;
        }
      }
  
      #form {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
  
        form {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 20px;
  
          input {
            height: 50px;
            width: 400px;
            font-size: 18px;
            border-radius: 5px;
            color: gray;
            border: 2px rgb(195, 188, 188)solid;
          }
  
          #p2 {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 10px;
  
            #p3 {
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              height: 50px;
              width: 70px;
              border: 2px rgb(195, 188, 188) solid;
              border-radius: 5px;
            }
  
            input {
              height: 50px;
              width: 320px;
              font-size: 18px;
            }
          }
  
          #graduate {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 10px;
  
            input {
              height: 50px;
              width: 120px;
            }
  
            select {
              height: 50px;
              width: 270px;
              border-radius: 5px;
              color: gray;
              border: 2px rgb(195, 188, 188)solid;
            }
          }
  
          select {
            height: 50px;
            width: 400px;
            border-radius: 5px;
            color: gray;
            border: 2px rgb(195, 188, 188)solid;
          }
        }
      }
  
      #p5 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
  
        #p6 {
          height: 50px;
          width: 230px;
          border-radius: 5px;
          background-color: #e12645;
          color: white;
          border: none;
        }
      }
  
      #p7 {
        font-size: 18px;
  
        b {
          color: blue;
        }
      }
  
      #p8 {
        font-size: 12px;
      }
    }
  }
  
  #web-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 680px;
  
    #images {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: white;
      border-radius: 10px;
      padding: 40px;
      box-shadow: 2px 3px 40px rgb(171, 166, 166);
  
      #i1 {
        font-size: 30px;
        padding: 20px;
      }
  
      #image {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
  
        .card {
          align-items: center;
          gap: 0px;
          position: relative;
          overflow: hidden;
  
          img {
            height: 150px;
            width: 100px;
          }
  
          .card-body {
            .card-text {
              font-size: 25px;
              text-align: center;
              width: 290px;
              margin-top: -40px;
              color: white;
            }
  
            #line1 {
              height: 40px;
              width: 150px;
              rotate: 45deg;
              position: absolute;
              top: 0px;
              right: -40px;
            }
          }
        }
      }
    }
  
    #program {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      padding: 60px;
  
      #para {
        font-size: 30px;
        padding: 20px;
      }
  
      #card1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
  
        .card {
          text-align: center;
          align-items: center;
  
          img {
            height: 80px;
            width: 80px;
  
          }
  
          h5 {
            font-size: 22px;
          }
  
          p {
            color: rgb(96, 87, 87);
          }
        }
      }
  
      #card2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 30px;
        text-align: center;
  
        .card {
          text-align: center;
          align-items: center;
  
          img {
            height: 80px;
            width: 80px;
          }
  
          h5 {
            font-size: 22px;
          }
  
          p {
            color: rgb(96, 87, 87);
          }
        }
      }
    }
  
    #curriculum {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #cae0fec1;
      gap: 30px;
      padding: 20px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      padding-bottom: 40px;
  
      #para {
        font-size: 30px;
      }
  
      #stages {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
  
        #beg {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 170px;
          padding: 10px;
          background-color: white;
  
          #b {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
  
            #begi {
              font-size: 30px;
              color: black;
            }
  
            #b2 {
              color: black;
            }
  
          }
  
          #button {
            height: 45px;
            width: 45px;
            border-radius: 50%;
            border: 2px black solid;
            text-align: center;
            align-items: center;
            justify-content: center;
  
            input {
              height: 30px;
              width: 30px;
            }
  
            input:hover {
              background-color: #387ef7;
            }
          }
        }
  
        #beg:hover {
          background-color: #9ebfedc1;
          color: #387ef7;
  
          #input:hover {
            background-color: #387ef7;
          }
        }
      }
  
      #about {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 50px;
  
        #about1 {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 20px;
  
          #module {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 100px;
            width: 530px;
            border: 2px white solid;
            border-radius: 10px;
            background-color: white;
            padding: 10px;
  
            #module1 {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: start;
  
              #m1 {
                font-size: 15px;
              }
  
              #m2 {
                font-size: 20px;
              }
            }
          }
        }
  
        #scroll {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 50px;
  
          #about2 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 40px 40px;
            background-color: #387ef7;
            overflow: scroll;
  
            #part1 {
              height: 450px;
              width: 370px;
              border-radius: 10px;
  
              #m1 {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;
                width: 300px;
  
                #m2 {
                  font-size: 15px;
                  border-bottom: 2px white solid;
                  width: 100%;
                  color: white;
                }
  
                #m3 {
                  font-size: 15px;
                  color: white;
  
                  b {
                    font-size: 40px;
                  }
                }
  
                #m4 {
                  ul {
                    li {
                      color: white;
                    }
                  }
                }
              }
            }
          }
  
          button {
            height: 40px;
            width: 420px;
            border-radius: 5px;
            color: white;
            background-color: #e12645;
            border: none;
          }
  
          button:hover {
            background-color: #e98293;
            color: #f2a7b3;
          }
        }
      }
    }
  
    .advisor {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: start;
      height: 300px;
      width: 90%;
      gap: 30px;
      background: linear-gradient(to right, rgb(3, 3, 126)50%, rgb(32, 32, 216));
      margin: 40px;
  
      #adv1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        color: white;
        padding: 40px;
        gap: 15px;
  
        #a1 {
          font-size: 40px;
          font-weight: bold;
        }
  
        #a2 {
          font-size: 17px;
        }
  
        #a3 {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 20px;
  
          #a4 {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
  
            img {
              height: 20px;
              width: 20px;
            }
          }
        }
  
        button {
          height: 50px;
          width: 180px;
          color: white;
          background-color: #e12645;
          border: none;
          border-radius: 10px;
        }
      }
  
      #adv2 {
        img {
          height: 300px;
          width: 600px;
        }
      }
    }
    #discover {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    
        #d1 {
          font-size: 30px;
        }
    
        #d2 {
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: start;
          gap: 10px;
    
          #d3 {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 10px;
    
            #d4 {
              font-size: 15px;
            }
    
            #d5 {
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              gap: 10px;
    
              button {
                height: 40px;
                border: none;
                border-radius: 15px;
              }
            }
          }
    
          button {
            height: 40px;
            width: 200px;
            border: none;
            border-radius: 15px;
          }
        }
      }
    
      #b1 {
        height: 50px;
        width: 220px;
        border: none;
        border-radius: 5px;
        color: white;
        background-color: #e12645;
      }
    
      #b1:hover {
        background-color: #e4586f;
        box-shadow: 2px 3px 10px #e98293;
      }
    
      #cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
        gap: 30px;
    
        #c1 {
          font-size: 33px;
          width: 920px;
        }
    
        #cards1 {
          display: grid;
          grid-template-columns: repeat(12, 1fr);
          width: 85vw;
          overflow-x: scroll;
          height: 850px;
          gap: 20px;
    
          .card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            width: 350px;
            padding: 10px;
    
            .card-header {
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              gap: 20px;
    
              #info {
                align-items: start;
                width: 150px;
              }
            }
    
            .card-body {
              .card-text {
                color: black;
              }
            }
    
            .card-footer {
              color: blue;
            }
          }
        }
      }
    
      #teaching {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    
        #t0 {
          font-size: 25px;
        }
    
        #p {
          text-align: center;
          font-size: 20px;
          width: 900px;
        }
        #carouselExample {
          width: 100%;
    
          .carousel-inner {
            .carousel-item {
              #cards {
                gap: 20px;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
    
                .card {
                  .card-body {
                    .card-title {
                      color: black;
                    }
                  }
    
                  .card-footer {
                    color: #0744ad;
                    font-weight: bold;
                  }
    
                  .card-footer:hover {
                    color: skyblue;
                  }
                }
              }
            }
          }
        }
      }
    
      #scaler {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 20px 40px;
        background-color: rgb(44, 146, 235);
        width: 90%;
    
        #s1 {
          border-radius: 100%;
          padding: 30px;
          background-color: lightskyblue;
        }
    
        #s2 {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: start;
          color: white;
    
          #s3 {
            font-size: 30px;
          }
    
          #s4 {
            font-size: 18px;
          }
        }
    
        #s5 {
          button {
            height: 40px;
            width: 200px;
            border-radius: 5px;
            border: none;
            background-color: white;
            color: black;
          }
        }
      }
    
      #education {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 20px 0px;
        background-color: #cae0fec1;
        margin: 60px 0px;
    
        #n1 {
          font-size: 31px;
        }
    
        #n2 {
          font-size: 30px;
        }
    
        #p {
          font-size: 15px;
          width: 70%;
    
          b {
            color: #358;
          }
        }
    
        #n3 {
          font-size: 18px;
          color: #358;
        }
    
        #n4 {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
    
          #n5 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: white;
            gap: 40px;
            padding: 20px 0px;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
    
            #n6 {
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
    
              #n7 {
                font-size: 20px;
                width: 200px;
              }
            }
          }
    
          #n8 {
            padding: 20px;
            background-color: lightskyblue;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
          }
        }
      }
    
      #services {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px;
        gap: 10px;
    
        #s1 {
          font-size: 30px;
          font-weight: bold;
        }
    
        #s2 {
          font-size: 17px;
          color: gray;
        }
    
        #cards {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 20px;
    
          .card {
            height: 200px;
            width: 150px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
    
            img {
              height: 70px;
              width: 70px;
              align-items: center;
              text-align: center;
              margin-top: 20px;
            }
    
            .card-body {
              .card-text {
                width: 220px;
                color: gray;
              }
            }
          }
        }
      }
    
      #roadmap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #cae0fec1;
        gap: 50px;
        width: 100%;
        padding: 20px;
    
        #r1 {
          font-size: 30px;
          width: 1000px;
          text-align: center;
        }
    
        button {
          height: 40px;
          width: 350px;
          background-color: #e12645;
          color: white;
          border-radius: 5px;
          border: none;
        }
      }
    
      #learning {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 55px;
    
        #l0 {
          font-size: 30px;
          width: 1050px;
          text-align: center;
        }
    
        #l1 {
          display: flex;
          flex-direction: row;
          justify-content: start;
          align-items: start;
          padding: 20px;
          gap: 30px;
    
          .card {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            gap: 90px;
            height: 350px;
            width: 470px;
            border-radius: 5px;
            background-image: url(https://assets-v2.scaler.com/assets/academy/svg/carousel-1-f8b2a8715c72d8a7ee95dee86294c20875ab6961b6c5d51c4e4b1ef7ba1f6ce5.svg.gz);
    
            .card-body {
              display: flex;
              flex-direction: column;
              justify-content: start;
              align-items: start;
              gap: 20px;
    
            }
          }
        }
      }
    
      #question {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    
        #q1 {
          font-size: 35px;
        }
    
        #q2 {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          border-top: 1px rgb(196, 183, 183) solid;
    
          #q3 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            gap: 20px;
            padding: 23px;
    
            #q4 {
              font-size: 18px;
            }
          }
    
          #q5 {
            border-left: 1px rgb(196, 183, 183) solid;
            gap: 20px;
            padding: 20px 40px;
            width: 900px;
    
            #q6 {
              font-size: 30px;
            }
    
            #accordionPanelsStayOpenExample {
              width: 900px;
              padding: 20px 20px;
    
              .accordion-item {
                margin-bottom: 20px;
    
                .accordion-header button {
                  background: none;
                  border: none;
                  outline: none;
                  box-shadow: none;
                  font-size: 18px;
                }
    
                .accordion-button:hover {
                  color: skyblue;
                }
              }
            }
          }
        }
      }
    
      #footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        background-color: #202738;
        padding: 30px 148px;
        gap: 30px;
    
    
    
        #part1 {
          display: flex;
          flex-direction: row;
          justify-content: start;
          align-items: start;
          gap: 130px;
    
          #one {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            gap: 40px;
    
            #main {
              display: flex;
              flex-direction: column;
              justify-content: start;
              align-items: start;
              /* gap: 0px; */
    
    
              #photo {
                width: 100px;
                height: 50px;
              }
    
              #line {
                color: white;
              }
    
              #photo2 {
                width: 150px;
                height: 25px;
              }
            }
    
            #sub {
              display: flex;
              flex-direction: row;
              justify-content: start;
              align-items: start;
    
    
              #block {
                display: flex;
                flex-direction: row;
                justify-content: start;
                align-items: start;
                gap: 8px;
    
                #first {
                  display: flex;
                  flex-direction: column;
                  justify-content: start;
                  align-items: start;
                  gap: 5px;
    
                  #text {
                    color: white;
                  }
    
                }
    
    
    
              }
            }
    
    
    
          }
    
          #two {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            gap: 20px;
    
            #heading {
              font-size: 25px;
              color: white;
            }
    
            #matter {
              display: flex;
              flex-direction: column;
              justify-content: start;
              align-items: start;
              color: #698fb1;
    
              #text {
                font-size: 17px;
              }
    
            }
    
          }
    
          #three {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            gap: 20px;
    
            #heading {
              font-size: 24px;
              color: white;
            }
    
            #matter {
              display: flex;
              flex-direction: column;
              justify-content: start;
              align-items: start;
              color: #698fb1;
    
              #text {
                font-size: 17px;
              }
    
            }
    
          }
    
          #four {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            gap: 20px;
    
            #heading {
              font-size: 25px;
              color: white;
            }
    
            #matter {
              display: flex;
              flex-direction: column;
              justify-content: start;
              align-items: start;
              color: #698fb1;
    
    
              #line {
                display: flex;
                flex-direction: row;
                justify-content: start;
                align-items: start;
                gap: 10px;
    
                #text {
                  font-size: 17px;
                }
    
              }
            }
    
          }
    
    
        }
    
        #part2 {
          color: #698fb1;
    
        }
    
        #part3 {
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: start;
          gap: 10px;
    
          #heading {
            color: white;
            font-size: 23px;
          }
    
          #lines {
            color: #698fb1;
          }
        }
      }
    }